
@font-face{font-family:'Open Sans';font-style:normal;font-weight:400;font-display:swap;src:local('Open Sans Regular'),local('OpenSans-Regular'),url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD}
@font-face{font-family:'Zilla Slab';font-style:normal;font-weight:400;font-display:swap;src:local('Zilla Slab'),local('ZillaSlab-Regular'),url(https://fonts.gstatic.com/s/zillaslab/v5/dFa6ZfeM_74wlPZtksIFajo6_Q.woff2) format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD}
@font-face{font-family:'Zilla Slab';font-style:normal;font-weight:700;font-display:swap;src:local('Zilla Slab Bold'),local('ZillaSlab-Bold'),url(https://fonts.gstatic.com/s/zillaslab/v5/dFa5ZfeM_74wlPZtksIFYoEf6HOpWw.woff2) format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD}


* {
    word-wrap: break-word;
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: inherit;
    font-family: inherit;
    font-size: inherit;
}
body {
    color: #000;
    background: white;
    font: 16px/1.6em 'Open Sans',sans-serif;
    line-height: 1.5;
}
.res_cell_center_content {
    padding: 0 10px;
}

[class*="res_cell"] {
    float: left;
    display: block;
    width: 100%;
}
.selectorOpernerBig {
    display: none;
}

input, button, select {
    font-size: inherit;
    color: inherit;
    padding: .5em;
    border: solid 1px #c3c3c3;
}
.selectorOpernerBig:checked ~ label[for="default"] {
    display: none;
}

.selectorOpernerBig+.shadow_layer {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(128,128,128,0.78);
    z-index: 2;
}
.selectorOpernerBig:checked ~ label[for="default"] {
    display: none;
}

.selectorOpernerBig ~ label.menuPanelCloseButton {
    position: fixed;
    display: block;
    top: 0;
    border-bottom: 0;
    z-index: 10004;
    right: calc(15% - -10px);
    padding-top: 5px;
}
.page .dictentry, .page .colloList {
    margin-bottom: 20px;
}
.dc .cB {
    padding-top: 0;
    border-bottom: 2px dotted #c12d30;
    padding-bottom: 1em;
}

.cB {
    padding: 15px;
    background: #fff;
    margin-bottom: 20px;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}
.dc .cB-h {
    padding-bottom: 5px;
}
.dc .mini_h2 {
    clear: both;
}
.page .punctuation {
    font-weight: normal;
    font-style: normal;
    color: black;
}
.page .dictionary .hi.rend-u {
    text-decoration: underline;
    font-size: inherit;
}
.page .dictionary .pron .ptr {
    color: red;
}

.hwd_sound {
    font-size: 16pt;
}
.page .dictionary .pron .ptr .gramGrp .pos{
    color: red;
}

.dc .audio_play_button {
    color: #ec2615;
    vertical-align: middle;
    -webkit-transition: transform .2s,text-shadow .2s;
    transition: transform .2s,text-shadow .2s;
    border: 0;
}
.icon-volume-up:before {
    content: "\f028";
}
.page .punctuation {
    font-weight: normal;
    font-style: normal;
    color: black;
}
[class^="icon-"], [class*=" icon-"] {
    /*font-family: 'icomoon';*/
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a {
    color: #1c4b8b;
}
[class^="icon-"], [class*=" icon-"] {
    /*font-family: 'icomoon';*/
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.page .cobuild .hom {
    display: block;
    margin-left: 1.5em;
    margin-bottom: 1em;
}
.page .dictionary span.sensenum {
    margin-left: -1.3em;
    font-weight: bold;
    font-size: 1.1em;
    display: inline-block;
    min-width: 1em;
    margin-right: 2px;
}
.cB-e .cit, .lbl, .colloc, .dc .translation .example, .gramGrp>.pos, .gramGrp.pos, .h2_entry, .entry_title {
    font-family: 'Zilla Slab';
}
.gramGrp>.pos, .gramGrp.pos {
    text-transform: uppercase;
    font-weight: bold;
}
.page .cobuild .sense {
    margin-left: 0;
}
.page .dictionary .sense {
    display: block;
    margin-left: 1.5em;
    margin-bottom: .5em;
    margin-top: .5em;
}
.page .cobuild .sense {
    margin-left: 0;
    margin-bottom: 0;
    margin-top: .25em;
}
.dc .def {
    margin-bottom: .5em;
    line-height: 1.5em;
}
.page .dictionary .hi.rend-b, .page .dictionary .emph {
    font-weight: bold;
}
.dc a, .openerBig {
    cursor: pointer;
    color: inherit;
}
.dc a {
    color: inherit;
    text-decoration: none;
}
.type-exa_sound .icon-volume-up:before {
    background: url(https://www.collinsdictionary.com/external/images/tts_icon.png?version=4.0.83)center center;
    width: 20px;
    height: 20px;
    display: inline-block;
    content: " ";
}
.dc .cB-h .title_container .h2_entry {
    width: 80%;
}
.title_container{
	max-width:370px;
}
.dc .cB-h .h2_entry {
    margin-bottom: 0;
    line-height: 1em;
    letter-spacing: 1px;
}
.dc .h2_entry {
    margin-bottom: .5em;
}
.cB h2, .cB .h2 {
    margin-bottom: .5em;
    line-height: .8em;
}
h2.h2_entry {
    font-size: 38px;
    font-weight: bold;
}
.cB-e .cit, .lbl, .colloc, .dc .translation .example, .gramGrp>.pos, .gramGrp.pos, .h2_entry, .entry_title {
    font-family: 'Zilla Slab';
}
/*.title_frequency_container {*/
    /*float: left;*/
    /*height: 0;*/
	/*margin-top:103px;*/
/*}*/
.dc .word-frequency-img, .dc .frenquency-title .label {
    display: inline-block;
}

.dc .word-frequency-img {
    margin-left: .5em;
}
.dc .word-frequency-container .level.roundRed {
    background-color: #c12d30;
}
.dc .word-frequency-container .level1 {
    width: 14px;
    height: 14px;
}
.dc .word-frequency-container .level {
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 50%;
    display: inline-block;
    background-color: #f2928e;
}
.dc .word-frequency-container .level2 {
    width: 15px;
    height: 15px;
}
.dc .word-frequency-container .level3 {
    width: 16px;
    height: 16px;
}
.dc .word-frequency-container .level4 {
    width: 17px;
    height: 17px;
}
.dc .word-frequency-container .level5 {
    width: 18px;
    height: 18px;
}
.cB-e .cit, .cit.type-example, .dc .translation .example {
    font-style: italic;
}
.dc .dictionary .quote {
    color: #000;
    font-style: italic;
}
.page .punctuation{
	font-weight: normal;
    font-style: normal;
    color: black;
}
.page .dictionary .hi.rend-sc {
    font-variant: small-caps;
}
.dc .lbl.type-syntax {
    font-size: .8em;
    color: #666;
}
.page .dictionary .gramGrp .subc .hi.rend-r, .page .dictionary .gramGrp .colloc .hi.rend-r, .page .dictionary .sense.xr .lbl, .page .dictionary .sense .xr .lbl {
    font-style: normal;
}

.page .dictionary .subc, .page .dictionary .sense .lbl, .page .dictionary .hi.rend-r, .page .dictionary .colloc {
    font-style: italic;
    font-weight: normal;
}
.page .lbl, .page .colloc {
    font-size: 18px;
}
.page .dictionary .sense.inline {
    display: inline;
    margin-left: 0;
    margin-bottom: .5em;
    margin-top: .5em;
}
@media only screen and (max-width: 1200px){
	.title_container{
		max-width:400px;
	}
}

.cloze {
    color: red;
    font-weight: bold;
}