[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
requests = "*"
click = "*"
jsonschema = "*"
yarl = "*"
lxml = "*"
jinja2 = "*"
tenacity = "*"
colorama = "*"

[requires]
python_version = "3.8"
